* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root{
  min-height: 100%;
}

body {
  background: #000 url(./assets/background.jpg);
  background-size: cover;
  --webkit-font-smoothing: antialiased !important;
}

body, input, button{
  font-size: 14px;
}

.container{
  margin: 60px auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background: #FFF;
  padding: 30px;
  margin-top: 40px;
  width: 100%;
}

.content button.btn {
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  height: 42px;
  cursor: pointer;
  background: #f05a5b;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.content button.btn:hover {
  background: #e72e2e;

}
