#modal{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 50%;
    margin-left: -175px; /* Negative half of width. */
    background: white;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border: 10px solid #f05a5b;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
}

@keyframes fadeInOpacity {
	0% {
        top: 0;
        opacity: 0;
	}
	100% {
        opacity: 1;
		top: 30%;
	}
}

#modal > div{
    align-self: center;
    padding: 20px;
    margin: 0 auto;
}

#modal div > div {
    justify-content: space-evenly;
    display: flex;
}

#modal button{
    margin: 4px;
    width: 80px;
    height: 35px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
}